.block2 { 
    margin-top: 30px; /* отступ сверху */
    position: relative;
    left: 200px;
    top: 50px;
    margin-bottom: 30px; /* отступ снизу */
    height: 300px;
    width: 160px;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: italic bold #ff0000 ;
   }

.block1 {
    background: yellow;
}